# Byte-compiled / optimized / DLL files
node_modules/
__pycache__/
*.py[cod]
*$py.class
*.env*
*.exe
*.dir
*.dat
*.bak
*.coverage
**.pytest_cache/
venv/
.vscode/
**/.DS_Store
node_modules/
.idea
coverage.*
staticfiles
pytest.ini
